<template>
  <div class="container">
    <div class="row">
      <!--<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">-->
      <h1>articles</h1>
    </div>
    <hr>
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">Nom</th>
        <th class="text-center">Description</th>
        <th class="text-center">Image</th>
        <th class="text-center">Catégorie</th>
        <th class="text-center">Utilisateur</th>
        <th class="text-center">Edition/Retour</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">{{article.name}}</td>
        <td class="text-center">{{article.description}}</td>
        <td class="text-center"><img :src=article.img alt=""></td>
        <td class="text-center">{{article.categorie.name}}</td>
        <td class="text-center">{{article.user.name}}</td>
        <td class="text-center">
          <router-link :to="{name: 'ArticleEdit', params: {id: article.id}}" class="btn btn-xs btn-primary">
            Editer
          </router-link>
          <router-link to="/articles" class="btn btn-xs btn-danger">Retour</router-link></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--</div>-->
</template>

<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        article: {
          name: null,
          description:null,
          img:null,
          categorie_id:'',
          user_id:'',
        }
      }
    },
    mounted() {
      const token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM5NGRkOWYyZWViNTU0NzBjMTkzM2ExZGM5MGQ0OTM1MDdiYTRkOTFkYzc0MTllZjFkOTAwODllNGJkMzc4MGMxMzE1M2NiODI1OTA5NjJmIn0.eyJhdWQiOiIyIiwianRpIjoiMzk0ZGQ5ZjJlZWI1NTQ3MGMxOTMzYTFkYzkwZDQ5MzUwN2JhNGQ5MWRjNzQxOWVmMWQ5MDA4OWU0YmQzNzgwYzEzMTUzY2I4MjU5MDk2MmYiLCJpYXQiOjE1NTQ4MjI3NzYsIm5iZiI6MTU1NDgyMjc3NiwiZXhwIjoxNTg2NDQ1MTc2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.Atb4A0XPPbgHTiNHMnR9rEvDHCtYrmTBeBGtv29NviXDKl-R5ZcM61RgJ-BFgMmlWQjZqDjkhztIwIsDGA-SgkuALvAdkA_fWUyPfhIqGT6ZMOUCrHEfQEn3HyqFDtMuUFMX2MVFRdAJta8H7gZZ7MLQj8Tm0ZBOSak4gutkcFdp8VAnRmLxpXVi0zeC6km0yHh0KwOHZXyD_DZGXXn7WRpnFaZA_JPrx4i0M1AdOlbK2fualAMHB_HwcG0QvkKmxzr0v9DYrMpzTJIsnwAqTgV8ZYzgHozIDlwpmc4x9aphtmCRvWdsaiL3jgppf2Qqxa1dTx5ehXUWV3sWrY5KOO_chYRfJkW7iqa5E_A0wQxhHXgV8_ls2pvoOXbSLk-F2eNCM0A1-YluFUVlwfR8JFYE07fdORmWosjnQ-0oSs8nEQZr9wMSqvWGYxsug04q5Dwkp9AuwbJUDukLuicIQHHYHzIMQRU8A5ktqAWpAJOa1l7cwiHwOHHVyDnj9s2s4U-VzAP3jtc_0BiD42zb2HetwqpYVeE1txq24nPHJBaRT3D8ZFEiS0N49jjb100xynM9NFnH-jTD_wlL1fDabbi7tF2_GlwlSOrRVFBfmSqMk4nAlW7oa1T1HV7y8Wbd7o9-hvKINw8tZncNoaoRFbK0N5IaTXVtYbO3omWr6G4";
      axios.get('http://127.0.0.1:8000/api/articles/'+this.$route.params.id,{ headers: {"Authorization" : `Bearer ${token}`}})
              .then(response=>{
                this.article = response.data.data})
              .catch(e=> {
                this.errors.push(e);
              })
    },
  }
</script>
<style>
  .titre{
    margin-bottom: 5px;
    padding: 0px;
  }
  .table{
    border-collapse: collapse;
    border: 2px solid black;
  }
  td{
    border: 2px solid black;
  }
  .table thead th{
    border: 2px solid black;
  }

</style>
