<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" v-model="categorie.name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" v-model="categorie.description">
        </div>
        <button class="btn btn-success" @click="update">Modifier</button>
        <router-link to="/categories" class="btn btn-xs btn-danger">Retour</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        categorie: {
          name: '',
          description: ''
        }
      }
    },
    mounted() {
      const token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM5NGRkOWYyZWViNTU0NzBjMTkzM2ExZGM5MGQ0OTM1MDdiYTRkOTFkYzc0MTllZjFkOTAwODllNGJkMzc4MGMxMzE1M2NiODI1OTA5NjJmIn0.eyJhdWQiOiIyIiwianRpIjoiMzk0ZGQ5ZjJlZWI1NTQ3MGMxOTMzYTFkYzkwZDQ5MzUwN2JhNGQ5MWRjNzQxOWVmMWQ5MDA4OWU0YmQzNzgwYzEzMTUzY2I4MjU5MDk2MmYiLCJpYXQiOjE1NTQ4MjI3NzYsIm5iZiI6MTU1NDgyMjc3NiwiZXhwIjoxNTg2NDQ1MTc2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.Atb4A0XPPbgHTiNHMnR9rEvDHCtYrmTBeBGtv29NviXDKl-R5ZcM61RgJ-BFgMmlWQjZqDjkhztIwIsDGA-SgkuALvAdkA_fWUyPfhIqGT6ZMOUCrHEfQEn3HyqFDtMuUFMX2MVFRdAJta8H7gZZ7MLQj8Tm0ZBOSak4gutkcFdp8VAnRmLxpXVi0zeC6km0yHh0KwOHZXyD_DZGXXn7WRpnFaZA_JPrx4i0M1AdOlbK2fualAMHB_HwcG0QvkKmxzr0v9DYrMpzTJIsnwAqTgV8ZYzgHozIDlwpmc4x9aphtmCRvWdsaiL3jgppf2Qqxa1dTx5ehXUWV3sWrY5KOO_chYRfJkW7iqa5E_A0wQxhHXgV8_ls2pvoOXbSLk-F2eNCM0A1-YluFUVlwfR8JFYE07fdORmWosjnQ-0oSs8nEQZr9wMSqvWGYxsug04q5Dwkp9AuwbJUDukLuicIQHHYHzIMQRU8A5ktqAWpAJOa1l7cwiHwOHHVyDnj9s2s4U-VzAP3jtc_0BiD42zb2HetwqpYVeE1txq24nPHJBaRT3D8ZFEiS0N49jjb100xynM9NFnH-jTD_wlL1fDabbi7tF2_GlwlSOrRVFBfmSqMk4nAlW7oa1T1HV7y8Wbd7o9-hvKINw8tZncNoaoRFbK0N5IaTXVtYbO3omWr6G4";
      axios.get('http://127.0.0.1:8000/api/categories/'+this.$route.params.id,{ headers: {"Authorization" : `Bearer ${token}`}})
        .then(response=>{
          this.categorie = response.data.data})
        .catch(e=> {
          this.errors.push(e);
        })
    },
    methods: {
      update() {
        const token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM5NGRkOWYyZWViNTU0NzBjMTkzM2ExZGM5MGQ0OTM1MDdiYTRkOTFkYzc0MTllZjFkOTAwODllNGJkMzc4MGMxMzE1M2NiODI1OTA5NjJmIn0.eyJhdWQiOiIyIiwianRpIjoiMzk0ZGQ5ZjJlZWI1NTQ3MGMxOTMzYTFkYzkwZDQ5MzUwN2JhNGQ5MWRjNzQxOWVmMWQ5MDA4OWU0YmQzNzgwYzEzMTUzY2I4MjU5MDk2MmYiLCJpYXQiOjE1NTQ4MjI3NzYsIm5iZiI6MTU1NDgyMjc3NiwiZXhwIjoxNTg2NDQ1MTc2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.Atb4A0XPPbgHTiNHMnR9rEvDHCtYrmTBeBGtv29NviXDKl-R5ZcM61RgJ-BFgMmlWQjZqDjkhztIwIsDGA-SgkuALvAdkA_fWUyPfhIqGT6ZMOUCrHEfQEn3HyqFDtMuUFMX2MVFRdAJta8H7gZZ7MLQj8Tm0ZBOSak4gutkcFdp8VAnRmLxpXVi0zeC6km0yHh0KwOHZXyD_DZGXXn7WRpnFaZA_JPrx4i0M1AdOlbK2fualAMHB_HwcG0QvkKmxzr0v9DYrMpzTJIsnwAqTgV8ZYzgHozIDlwpmc4x9aphtmCRvWdsaiL3jgppf2Qqxa1dTx5ehXUWV3sWrY5KOO_chYRfJkW7iqa5E_A0wQxhHXgV8_ls2pvoOXbSLk-F2eNCM0A1-YluFUVlwfR8JFYE07fdORmWosjnQ-0oSs8nEQZr9wMSqvWGYxsug04q5Dwkp9AuwbJUDukLuicIQHHYHzIMQRU8A5ktqAWpAJOa1l7cwiHwOHHVyDnj9s2s4U-VzAP3jtc_0BiD42zb2HetwqpYVeE1txq24nPHJBaRT3D8ZFEiS0N49jjb100xynM9NFnH-jTD_wlL1fDabbi7tF2_GlwlSOrRVFBfmSqMk4nAlW7oa1T1HV7y8Wbd7o9-hvKINw8tZncNoaoRFbK0N5IaTXVtYbO3omWr6G4";
        axios.put('http://127.0.0.1:8000/api/categories/'+this.$route.params.id, this.categorie,{ headers: {"Authorization" : `Bearer ${token}`}})
          .then(response => {
            console.log(response);
          }, error => {
            console.log(error);
          })
        this.$router.push('/categories');
      }
    }
  }
</script>
